:root {
    --primary-white: rgb(200, 200, 200);
    --primary-cyan: rgb(70, 190, 200);
    --secondary-cyan: rgb(20, 130, 130);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(50, 50, 50);
    color: var(--primary-white);
}

/* Div(s) Margin & Padding */

body > div:not(.navbar):not(.description) {
    padding-block: 10vh;
}

body > div:not(.navbar) {
    padding-inline: 15vw;
}

@media (max-width: 40em) {
    body > div:not(.navbar) {
        padding-inline: 8vw;
    }
}

/* Titles */

.heading {
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-cyan);
    display: inline;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
    color: var(--primary-white);
    padding-block: 4vh;
    border-bottom: 2px dashed;
}

.subtext {
    padding-block: 2rem;
    font-size: 1.5rem;
}

@media (max-width: 40em) {
    .heading {
        font-size: 2rem;
    }
    .title {
        font-size: 3.5rem;
    }
    .subtext {
        padding-block: 1.5rem;
        font-size: 1rem;
    }
}

/* Navbar */

.navbar {
    background: rgba(40,40,40,0.8);
    box-shadow: 0 0 1rem black;
    width: 100%;
    padding: 2vh 5vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.nav-links {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: var(--primary-white);
    font-size: 1.2rem;
    margin-inline: 1vw;
}

@media (max-width: 40em) {
    .navbar a {
        font-size: 0.8rem;
        margin-inline: 2px;
    }
}

.twitter-link:hover {
    color: var(--primary-cyan);
}

.github-link:hover {
    color: #888;
}

/* Description */

.description {
    background: var(--secondary-cyan);
    font-size: 1.8rem;
    height: 100vh;
    display: flex;
    align-items: center;
}

@media (max-width: 40em) {
    .description {
        font-size: 1.2rem;
    }
}

/* Dummy 3D Button */

.dummy-3d-button {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dummy-3d-button div {
    margin-block: 15vh;
    margin-inline: auto;
}

.dummy-3d-button button {
    outline: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

.btn {
    color: var(--primary-white);
    background: #222;
    border: 2px solid var(--primary-cyan);
    position: absolute;
    z-index: 1;
    transform: translate(-0.35rem, -0.35rem);
    transition: transform 250ms ease;
}

.btn:active {
    transform: translate(0, 0);
}

.dummy-btn {
    background: url('images/btn-bg.png');
    background-size: cover;
    border: 2px solid var(--secondary-cyan);
}

/* 3D Water Drop */

.water-drop {
    background: radial-gradient(circle at top right, rgb(80, 206, 222), rgb(67, 136, 179));
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    margin: 15vh auto;
    box-shadow: inset 0 0 1rem rgb(255, 255, 255, 0.05), inset 2rem -2rem 2rem rgb(0,0,0,0.2), inset 0.5rem -0.5rem 0.5rem rgb(0,0,0,0.2), inset -0.8rem 0.8rem 0.8rem rgb(255,255,255,0.3), -0.5rem 0.3rem 0.5rem #222;
}